@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

*{
    scroll-behavior: smooth;
}

body{
    background-color: #F8F9F9;
    padding: 1px 30px;
    margin: 0 auto;
}

/* Header */
.Logo{
    width:150px;
}
.landing-page{
    align-items: center;
}
.trois-barres{
    position: absolute;
    left:1;
    top: 40px;
}

.trois-barre{
    color: black;
}

.parametre a{
    color: black;
    text-decoration: none;
    font-family: 'PT Serif', serif;
}

.parametre{
    margin: 12px;
    float: right;
}


/* navigation */

.btn-nav{
    display: inline-block;
    margin: 12px;
    font-size: x-large;
}

.btn-nav a{
    text-decoration: none;
    color: black;
}

.btn-nav a:hover{
    background-color: #E8E8E8;
}

.Accueil::before{
    content:"";
    position: absolute;
    background-color: red;
    width: 240px;
    height: 5px;
    top: 130px;
}

/* Diaporama */


.d1{
    width: 1430px;
    height: 560px;
    margin: 50px auto;
    margin-top: 0px;
    background-color: white;
    /* background-size: 100%; */
    background-size: cover;
    animation: fondu 15s ease-in-out infinite both;
}

@keyframes fondu{
    0%{background-image: url(../Image/interieur.jpg);}
    33.33%{background-image: url(../Image/demon-slayer.jpg);}
    66.67%{background-image: url(../Image/Tahiti.jpg);}
    100%{background-image: url(../Image/business-class.png);}
}


/* Formulaire de recherche */

.formulaire{
    position: absolute;
    padding: 100px;
}


.label{
    color: white;
    font-family: serif;
    font-size: 20px;
}

.input{
    padding: 12px;
    flex-direction: row ;
    margin: 15px;
    font-size: 20px;
}

.select{
    padding: 12px;
    flex-direction: row ;
    margin: 15px;
    font-size: 20px;
    cursor: pointer;
}

.rechercher{
    position: absolute;
    font-size: 20px;
    background-color: #D40540;
    border: #D40540;
    padding: 12px;
    color: white;
    margin-left: 1100px;
    cursor: pointer;
}

.date-voyage{
    margin-left: 18px;
}

/* Image- Vols + hôtels */

.nouveautes{
    margin: 100px;
    font-family: 'Roboto', sans-serif;
}

.img{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.proposition{
    margin: 24px;
    background-size: cover;
    background-position: center;
    min-width: 150px;
    height: 300px;
    flex: 1;
}

.caraibe{
    text-align: center;
    text-decoration: none;
    background-image: url(../Image/Caraib.jpg);
    transition: 0.5s all;
    filter: drop-shadow(0 1mm 2mm gray);
}

.egypte{
    text-align: center;
    text-decoration: none;
    background-image: url(../Image/Egypte.jpg);
    transition: 0.5s all;
    filter: drop-shadow(0 1mm 2mm gray);
}

.maurice{
    text-align: center;
    text-decoration: none;
    background-image: url(../Image/Maurice.jpg);
    transition: 0.5s all;
    filter: drop-shadow(0 1mm 2mm gray);
}

.ny{
    text-align: center;
    text-decoration: none;
    background-image: url(../Image/New-York.jpg);
    transition: 0.5s all;
    filter: drop-shadow(0 1mm 2mm gray);
}

.titre{
    padding-left: 25px;
}

.h3::before{
    content:"";
    position: absolute;
    background-color: #E8E5E5;
    width: 1193px;
    height: 1px;
    top: 880px;
}

.h3{
    color: #14438B;
}

.div{
    margin-top: 190px;
    margin-left: 150px;
    width: 100px;
    background-color: #14438B;
    opacity: 0.8;
    color: white;
}

.dist{
    font-weight: 700;
}

.prix{
    font-weight: 600;
}

.btn-offre{
    position: absolute;
    top: 1250px;
    left: 650px;
    width: 200px;
    height: 40px;
    background-color: #051039;
    color: white;
    font-weight: 800;
    cursor: pointer;
    filter: drop-shadow(0 0.5mm 1.5mm gray);
}

.caraibe:hover{
    filter: drop-shadow(0 0 0.20rem gray);
    transition: 0.5s all;
}

.egypte:hover{
    filter: drop-shadow(0 0 0.20rem gray);
    transition: 0.5s all;
}

.maurice:hover{
    filter: drop-shadow(0 0 0.20rem gray);
    transition: 0.5s all;
}

.ny:hover{
    filter: drop-shadow(0 0 0.20rem gray);
    transition: 0.5s all;
}


/* service */

.service-image{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.serv{
    margin: 24px;
    background-size: cover;
    background-position: center;
    min-width: 150px;
    height: 250px;
    flex: 1;
}

.taxi{
    text-decoration: none;
    background-image: url(../Image/chauffeur-taxie.jpg);
    transition: 0.5s all;
    filter: drop-shadow(0 3mm 2mm #EDEDED);
}

.hotel{
    text-decoration: none;
    background-image: url(../Image/chambre-d-hotel.jpg);
    transition: 0.5s all;
    filter: drop-shadow(0 3mm 2mm #EDEDED);
}

.location{
    text-decoration: none;
    background-image: url(../Image/Voiture.jpg);
    transition: 0.5s all;
    filter: drop-shadow(0 3mm 2mm #EDEDED);
}

.magasin{
    text-decoration: none;
    background-image: url(../Image/centres-commerciaux.jpg);
    transition: 0.5s all;
    filter: drop-shadow(0 3mm 2mm #EDEDED);
}

.icon-service{
    margin-top: 90px;
    margin-left: 100px;
    color: #F0F0F0;
    font-size: 50px;
}

.service-div{
    color: #051072;
    background-color: #FFFFFF;
    margin-top: 110px;
    border-top: 3px solid  #FFFFFF;
    border-bottom: 18px solid #FFFFFF;
    text-align: center;
}

.service-cb{
        color: #051072;
        background-color: #FFFFFF;
        margin-top: 110px;
        border-top: 3px solid  #FFFFFF;
        text-align: center;
    }

.explication{
    font-weight: 700;
}

.lien{
    font-weight: 500;
}

.taxi:hover{
    filter: drop-shadow(0 0 0.15rem gray);
    transition: 0.5s all;
}

.hotel:hover{
    filter: drop-shadow(0 0 0.15rem gray);
    transition: 0.5s all;
}

.location:hover{
    filter: drop-shadow(0 0 0.15rem gray);
    transition: 0.5s all;
}

.magasin:hover{
    filter: drop-shadow(0 0 0.15rem gray);
    transition: 0.5s all;
}

.btn-savoir{
    position: absolute;
    top: 1920px;
    left: 650px;
    width: 200px;
    height: 40px;
    background-color: #051039;
    color: white;
    font-weight: 800;
    cursor: pointer;
    filter: drop-shadow(0 0.5mm 1.5mm gray);
}

/* Moyen de paiement */

.img-paiement{
    height: 40px;
    margin: 23px;
}

.paiement{
    margin: 12px;
    margin-left: 50px;
}

/* Footer */

footer{
    font-family: 'Roboto', sans-serif;
    background-color: #051039;
    display: flex;
    justify-content: center;
}

.H{
    color: white;
}

.sous-H{
    color: white;
    font-size: 20px;
}
 
.client{
    width: 230px;   
}

.a{
    text-decoration: none;
}

.shopping{
    width: 230px;
}

.a-propos{
    width: 185px;
}

.monde{
    width: 225px;
}

.a:hover{
    text-decoration: underline white;
}

.D{
    margin: 15px;
}

/* Scroll */

.scroll{
    color: #051039;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 600;
}

.scroll-box{
    background-color: #FFFFFF;
    width: 220px;;
    text-align: center;
    height: 40px;
    cursor: pointer;
    filter: drop-shadow(0 0.5mm 1.5mm gray);
    margin-left: 610px;
    margin-bottom: 80px;
    transition: 0.5s all;
}

.angle{
    font-size: 24px;
    margin-top: 10px;
}

.scroll-box:hover{
    filter: drop-shadow(0 0 0.15rem gray);
    transition: 0.5s all;
}