@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=PT+Serif:wght@700&family=Roboto&display=swap');

body{
    background-color: #102340;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    margin-left: 35%;
    background-color: #F8F9F9;
    width: 400px;
    height: 550px;
    border-radius: 10px;
}

.input{
    margin:12px;
    padding:19px;
    border-radius: 10px;
    width:300px;
    border: 2px solid gray;
}

input:focus{
    border: 2px solid black;
}

input:hover{
    border: 2px solid black;
    transition: 0.2s all;
}

.btn-inscrit{
    padding: 6px;
    background-color: #D40504;
    border:2px solid #D40540;
    color: white;
    font-weight: 800;
    width:365px;
    text-align: center;
    filter: drop-shadow(0 3mm 2mm #EDEDED);
    cursor: pointer;
}

.btn-inscrit:hover{
    border:2px solid #D40540;
    filter: drop-shadow(0 0 0.30rem gray);
    transition: 0.5s all;
}

.titre{
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    color: #051039;
    padding: 12px;
}

.error{
    margin-top:10px;
    color:#D40504;
}

.OK{
    color:black;
    font-weight: bold;
}

.A{
    color:#102340;
}