body{
    background-color: black;
}
h1.Titre-principale{
    color: white;
    padding-left: 600px;
}

h2.Sous-titre{
    color: aquamarine;
    padding-left: 625px;
}

p.Annonce{
    color: wheat;
    font-size: 18px;
}

p.Devinette{
    color: blueviolet;
    font-size: 18px;
}

a.lien-git{
    color: chartreuse;
    font-size: 18px;
}